.section__main {
    margin-top: 15px;
    background-color: white;
    box-shadow: 1px 1px 3px -1px rgba(168, 168, 190, 1);
}

.section__topSection {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(221, 223, 225);
    height: fit-content;
}

@media (max-width: 550px) {
    .section__topSection {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.section__header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 20px;
    font-size: 20px;
    min-width: 160px;
    max-width: 1000px;
    width: 100%;
}