.addTask__main {
    background-color: white;
    box-shadow: 1px 1px 3px -1px rgba(168, 168, 190, 1);

}

.addTask__header {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    border-bottom: 2px solid rgb(221, 223, 225);
    max-width: 1000px;
    width: 100%;
}

.addTask__form {
    display: grid;
    grid-template-columns: 1fr auto;
}

@media (max-width: 450px) {
    .addTask__form {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.addTask__input {
    margin: 15px;
    height: 35px;
    border: 1px solid rgb(221, 223, 225);
}


.addTask__submit {
    margin: 15px;
    height: 35px;
    background-color: teal;
    color: white;
    border: none;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}

.addTask__submit:hover {
    background-color: rgb(9, 153, 153);
    scale: 1.1;

}

.addTask__submit:active {
    background-color: rgb(10, 207, 207);
}