.taskList__list {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

.taskList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 2px solid rgb(221, 223, 225);
    padding: 5px;
}

.taskList__content {
    text-decoration: none;
}

.taskList__contentDone {
    text-decoration: line-through;
}

.taskList__toggleButton {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgb(23, 162, 10);
    color: white;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.taskList__toggleButton:hover {
    background-color: rgb(24, 174, 10);
}

.taskList__toggleButton:active {
    background-color: rgb(17, 199, 0);
}

.taskList__removeButton {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgb(229, 8, 8);
    color: white;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.taskList__removeButton:hover {
    background-color: rgb(242, 0, 0);
}

.taskList__removeButton {
    background-color: rgb(236, 54, 54);
}