html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(206, 212, 218);
  word-break: break-word;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 1000px;
  min-height: 350px;
  height: 100%;
  margin: 20px;
  margin-top: 100px;
}

.box__footer {
  margin-top: 270px;
  text-align: center;
}

#root {
  max-width: 1040px;
  width: 100%;
}